<div class="row">
  <div class="col-6 offset-3">
    <form action="" [formGroup]="editComicForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="">Tên Truyện Tranh</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="">Trạng Thái</label>
        <input type="text" class="form-control" formControlName="status">
      </div>
      <div class="form-group">
        <label for="">Lượt Xem</label>
        <input type="number" class="form-control" formControlName="views">
      </div>
      <div class="form-group">
        <label for="">Danh Mục</label>
        <select class="form-control" formControlName="categoryId">
          <option *ngFor="let cate of cates" ngValue="{{cate.id}}">{{cate.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Tác Giả</label>
        <select class="form-control" formControlName="authorId">
          <option *ngFor="let author of authors" ngValue="{{author.id}}">{{author.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Ảnh</label>
        <input type="file" class="form-control" (change)="uploadFile($event)">
      </div>
      <div class="col-3 offset-3" *ngIf="editComicForm.value.image != undefined">
        <img [src]="editComicForm.value.image" class="img-thumbnail">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">Lưu</button>
      </div>
    </form>
  </div>
</div>
